<!DOCTYPE html>
{% load static %}
<html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>موقعي الإلكتروني</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {%include 'parts/navbar.html'%}
        <form method="post">
            {% csrf_token %}
            <br>
            <input type="text" name="user_name">
            <br>
            <br>
            <input type="password" name="password">
            <br>
            <br>
            <input type="submit" value="save">




        </form>
        {%include 'parts/foter.html'%}
    </body>
</html>