<!DOCTYPE html>
{%load static%}
<html lang="ar" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>موقعي الإلكتروني</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {%include 'parts/navbar.html'%}
        <img src="{%static 'images/apartment-1.png'%}">
        <img src="{%static 'images/apartment-2.png'%}">
        <img src="{%static 'images/apartment-3.png'%}">
        <img src="{%static 'images/apartment-4.png'%}">
        {%include 'parts/foter.html'%}
    </body>
</html>
