{% load static %}
<link rel="stylesheet" href="{% static 'css/foter.css' %}">
<!-- التذييل -->
 {%comment%}
     django comment
 {%endcomment%}
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
                <p>© 2025 جميع الحقوق محفوظة لشركتي</p>
            </div>
        </div>
    </footer>