{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<!-- الرأس -->
<header>
    <div class="container">
        <nav>
            <div class="logo">شركتي</div>
            <ul class="nav-links">
                <li><a href="" > </a></li>
                <li><a href="{%url 'index'%}" >الرئيسية</a></li>
                <li><a href="{%url 'products'%}" >منتجاتي</a></li>
                <li><a href="{%url 'login'%}" > تسجيل الدخول</a></li>
                <li><a href="http://127.0.0.1:8000/admin/ " target="_blank">التحكم</a></li>
                <li><a href="http://localhost/phpmyadmin/index.php?route=/" target="_blank">اتصل بنا</a></li>
            </ul>
        </nav>
    </div>
</header>
